<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include cabecera.html %>
    <h1><%= title %></h1>
    <p><%= __('Welcome to') %> <%= title %></p>

    <h2>Escapado de código</h2>
    <p><%= __('The value is') %> <%= valor %></p>

    <h2>Condiciones</h2>

    <% if (condicion.estado) { %>
      <p><%= condicion.segundo %> es par</p>
    <% } else { %>
      <p><%= condicion.segundo %> es impar</p>
    <% } %>

    <h2>Bucles</h2>
    <% users.forEach(user => { %>
      <p><%= user.name + ' ' + user.age %></p>
      <p><%= __('Hello, my name is {{name}} and my age is {{age}}', user) %></p>
    <% }) %>

    <h2>Pluralización de i18n</h2>
    <p>10 <%= __n('Mouse', 10) %></p>

  </body>
</html>
